<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402837791555-do5b9jnct588e2rjqai813amk9vhlp71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402837791555-do5b9jnct588e2rjqai813amk9vhlp71</string>
	<key>API_KEY</key>
	<string>AIzaSyDOSL6UM5MNSGToz51q70c9O2ubfuDEsh0</string>
	<key>GCM_SENDER_ID</key>
	<string>402837791555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billbook.billbook</string>
	<key>PROJECT_ID</key>
	<string>billbook-aliwhosane</string>
	<key>STORAGE_BUCKET</key>
	<string>billbook-aliwhosane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402837791555:ios:9bc7d75525e0f1aa1005f6</string>
</dict>
</plist>